.buddy-checkbox {
  cursor: pointer;

  .checkbox {
    background-color: red;
    width: 20px;
    height: 20px;
    float: left;
  }

  .checked {
    background-color: green;
    width:20px;
    height: 20px;
    float: left;
  }

  .checkbox-label {
    width:100px;
    height: 20px;
    float: left;
  }
}

