node_modules/*
config.json
.DS_Store
.ntvs_analysis.dat
.idea/*
.ntvs_analysis.dat.tmp
public/main.js
public/dist/*
npm-debug.log
public/js/components/features/componentSelectFactory.js
public/js/components/features/componentSelect.js
public/js/components/componentEditUser.js
public/js/components/componentPopup.js
public/js/components/componentPopupFactory.js
public/js/components/features/addTask/newTask/componentAddTask.js
public/js/components/features/addTask/newTask/componentLeft.js
public/js/components/features/addTask/newTask/componentRight.js
public/js/components/features/componentStatusBar.js
public/js/components/features/componentStatusBarFactory.js
public/js/components/features/componentTextInput.js
public/js/components/table/componentTable.js
public/js/components/table/componentTableFactory.js
public/js/components/table/componentTableWrapper.js
public/js/components/tasks/componentTaskList.js
public/js/components/tasks/componentTaskListFactory.js
public/js/components/tasks/componentTaskListsInView.js
public/js/components/tasks/taskDetails/componentBaseTaskDetail.js
public/js/components/tasks/taskDetails/componentUserTaskDetail.js
public/js/components/componentBase.js
public/js/views/viewBase.js
public/js/init.js
public/js/components/componentPopup.js
public/js/components/features/componentStatusBar.js
public/js/components/features/componentStatusBarFactory.js
public/js/components/tasks/componentTaskList.js
public/js/components/tasks/componentTaskListFactory.js
public/js/components/tasks/componentTaskListsInView.js
public/js/components/tasks/taskDetails/componentBaseTaskDetail.js
public/js/components/tasks/taskDetails/componentUserTaskDetail.js
public/js/components/componentNavBar.js