.view-wrapper {
	border: 2px solid;
}

.task-wrapper {
	border: 2px solid;
	width: 1000px;
}

.header-wrapper {
	clear: none;
	border-bottom: 2px solid;
	height: 50px;
}

.buddy-label {
	margin-right: 50px;
}

.time-label {
	float: right;
	background-color: #91FF6C;
}

.time-label-overflow {
	float: right;
	background-color: #FF4747;
}

.description-wrapper {
	height: 200px;
	width: 300px;
	float: left;
}

.notes-wrapper {
	height: 200px;
	border-left: 2px solid;
	float: left;
}

.footer-wrapper {
	clear: both;
	height: 50px;
	border-top: 2px solid;
}

.buddy-checkbox {
    cursor: pointer;
}


.checkbox {
	background-color: red;
	width: 20px;
	height: 20px;
	float: left;
}

.checked {
	background-color: green;
	width:20px;
	height: 20px;
	float: left;
}

.checkbox-label {
	width:100px;
	height: 20px;
	float: left;
}

.dropDownDiv {
    margin-right: 10px;
    float: left;
}

.dropdown-button.dropdown {
    display: inline-block;
    background-color: lightgray;
}
.dropdown-button.dropdown.disabled {
    background-color: lightcoral;
}

