
.view-wrapper {
	border: 2px solid;
}

.task-wrapper {
	border: 2px solid;
	width: 1000px;
}

.header-wrapper {
	clear: none;
	border-bottom: 2px solid;
	height: 50px;
}

.buddy-label {
	margin-right: 50px;
}

.time-label {
	float: right;
	background-color: #91FF6C;
}

.time-label-overflow {
	float: right;
	background-color: #FF4747;
}

.description-wrapper {
	height: 200px;
	width: 300px;
	float: left;
}

.notes-wrapper {
	height: 200px;
	border-left: 2px solid;
	float: left;
}

.footer-wrapper {
	clear: both;
	height: 50px;
	border-top: 2px solid;
}

.buddy-checkbox {
    cursor: pointer;
}


.checkbox {
	background-color: red;
	width: 20px;
	height: 20px;
	float: left;
}

.checked {
	background-color: green;
	width:20px;
	height: 20px;
	float: left;
}

.checkbox-label {
	width:100px;
	height: 20px;
	float: left;
}

.filtrable-task {
    padding: 20px;
}

.hide-comp {
	float:left;
	width:100%;
}

.hide-tittle {

	float:left;
	width:95%;
	height:50px;
}

.hide-arrow {
	float:left;
	width:5%;
	text-align:center;
	height:50px;
	cursor: pointer;
}

.hide-arrow span {
	float: left;
	width: 75%;
	font-size: 10px;
	padding-top: 4px;
}

.hide-arrow div {
	float: left;
	width: 25%;
}
.hide-head {
	height:50px;
	width:100%;
	float:left;
}


.hide-content{
	float:left;
	width:100%;
	display: block;
}
.hidden {
    display: none;
}

.row div {
    display: inline-block;
}


.template-header div{
    display: inline-block;
    margin-right: 10%;
}

.invalid-input{
  background: #ff0000;
}

input:focus{
  background: #ffffff;
}