body {
  margin: 50px;
}

.view-wrapper {
	border: 2px solid;
}

.buddy-checkbox {
    cursor: pointer;
}

.main-wrapper {
//  because of navbar
  margin-top: 40px;
}

.checkbox {
	background-color: red;
	width: 20px;
	height: 20px;
	float: left;
}

.checked {
	background-color: green;
	width:20px;
	height: 20px;
	float: left;
}

.checkbox-label {
	width:100px;
	height: 20px;
	float: left;
}

.filtrable-task {
    padding: 20px;
}


.invalid-input{
  border: 2px solid #ff0000 !important;
}

.tasks {
  font-size: x-large;

  .done-tasks-count {
    color: #31a800;
  }

  .undone-tasks-count {

  }
}

.down-left-corner{
  bottom: 0px;
  right: 0px;
  float: right;
}

.top-right-corner{
  top: 0px;
  left: 0px;
}

.departments-list{
  li {
    margin-bottom: 10px;
    list-style: none;
  }
}