.view-wrapper {
	border: 2px solid;
}

.task-wrapper {
	border: 2px solid;
	width: 1000px;
}

.header-wrapper {
	clear: none;
	border-bottom: 2px solid;
	height: 50px;
}

.buddy-label {
	margin-right: 50px;
}

.time-label {
	float: right;
	background-color: #91FF6C;
}

.time-label-overflow {
	float: right;
	background-color: #FF4747;
}

.description-wrapper {
	height: 200px;
	width: 300px;
	float: left;
}

.notes-wrapper {
	height: 200px;
	border-left: 2px solid;
	float: left;
}

.footer-wrapper {
	clear: both;
	height: 50px;
	border-top: 2px solid;
}

.buddy-checkbox {
    cursor: pointer;
}


.checkbox {
	background-color: red;
	width: 20px;
	height: 20px;
	float: left;
}

.checked {
	background-color: green;
	width:20px;
	height: 20px;
	float: left;
}

.checkbox-label {
	width:100px;
	height: 20px;
	float: left;
}

.dropDownDiv {
    margin-right: 10px;
    float: left;
}

.dropDownDiv ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
}

.dropdown-button.dropdown {
    display: inline-block;
    background-color: rgb(200,155,187);
    padding: 2px;
    color: rgb(30, 30, 30);
    width: 60px;
    font: 16px arial;
}
.dropdown-button.dropdown.disabled {
    background-color: lightgrey;
    color: darkgray;
}

.dropDownItem {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    min-height: 10px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: purple;
    color: white;
    font: 12px arial;
    border-bottom: solid 1px black;
    width: 44px;
}

.dropDownItem:hover {
    background-color: rgb(214, 210, 210);
    color: purple;
}

.filtrable-task {
    padding: 20px;
}

.hide-comp {
	float:left;
	width:100%;
}

.hide-header {
	float:left;
	width:95%;
	height:50px;
}

.hide-arrow {
	float:left;
	width:5%;
	text-align:center;
	height:50px;
}

.hide-head {
	height:50px;
	width:100%;
	float:left;
}


.hide-content{
	float:left;
	width:100%;
	display: block;
}
.hidden{
	display: none;
}