div.form-add-user-wrapper
	div.form-add-user-column1
		div.form-add-user-row Name: 
		div.form-add-user-row Surname:
		div.form-add-user-row Email:
	div.form-add-user-column2
		div.form-add-user-row
			input(class="input1" type="text", name="input1")
		div.form-add-user-row
			input(class="input2" type="text", name="input2")
		div.form-add-user-row
			input(class="input3" type="text", name="input3")
	div.form-add-user-column3
		div.form-add-user-row Department: 
		div.form-add-user-row Role:
		div.form-add-user-row Team:
		div.form-add-user-row HR buddy:
	div.form-add-user-column4
		div.form-add-user-filter
		div.form-add-user-drop
	div.form-add-user-saveButtonDiv
		button.form-add-user-saveButton Save