if loggedIn
    .navbar
        a(href='mailto:'+HRemail) #{HRfirstName} #{HRlastName}
        #navbar-menu
            if userRoleID === teamManagerID || userRoleID === administratorID
                a(href="#")
                    .navbar-menu-item Home
                a(href="#tasks")
                    .navbar-menu-item Tasks
                a(href="#people")
                    .navbar-menu-item People
                a(href="#template")
                    .navbar-menu-item Templates
                a(href="#implicit")
                    .navbar-menu-item Implicit Tasks
                a(href="#departments")
                    .navbar-menu-item Departments
                a(href="#export")
                    .navbar-menu-item Export
            else
                a(href="#tasks")
                    .navbar-menu-item Tasks
        //- end of MENU
        #navbar-user
            a(href='/User/user='+userID) #{userFirstName} #{userLastName}
            a(href="/logout") Logout
else
    .navbar
        a(href='/auth/google' id='login-button' class='login-button') Login
