if loggedIn
    div
        a(href='mailto:'+HRemail) #{HRfirstName} #{HRlastName}
        //- MENU
        #navbar-menu
            if userRoleID === teamManagerID || userRoleID === administratorID
                a(href="#")
                    .navbar-menu-item Home
                a(href="#taskAdmin")
                    .navbar-menu-item Tasks
                a(href="#peopleAdmin")
                    .navbar-menu-item People
                a(href="#departmentAdmin")
                    .navbar-menu-item Departments
            else
                a(href="#taskAdmin")
                    .navbar-menu-item Tasks
        //- end of MENU
        #navbar-user
            a(href='/User/user='+userID) #{userFirstName} #{userLastName}
            a(href="/logout") Logout
else
    a(href="/login") Login
