div#navbar-menu
    if userRoleID === TEAM_MANAGER_ID || userRoleID === ADMINISTRATOR_ID)
        a(href="#")
            div.navbar-menu-item Home
        a(href="#taskAdmin")
            div.navbar-menu-item Tasks
        a(href="#peopleAdmin")
            div.navbar-menu-item People
        a(href="#departmentAdmin")
            div.navbar-menu-item Departments
        a(href="#taskAdmin")
            div.navbar-menu-item Tasks
    else
        a(href="#taskAdmin")
            div.navbar-menu-item Tasks
